html {
    scroll-behavior: smooth;
}

body {
	line-height: 1;
    margin: 0px;
}

#nav{
     width: 100%; 
     position:fixed;
     background: #fff;
     position: 0px;
     border-bottom: rgb(226, 223, 223) solid 1px;
     
}
.container {
    width: 100%;
    margin: 0 auto;
}
.row {
    display: flex;
    justify-content: space-between;

}


.col-1 {
    width: calc((100%/12)*1)
}

.col-2 {
    width: calc((100%/12)*2)
}

.col-3 {
    width: calc((100%/12)*3)
}

.col-4 {
    width: calc((100%/12)*4)
}

.col-5 {
    width: calc((100%/12)*5)
}

.col-6 {
    width: calc((100%/12)*6)
}

.col-7 {
    width: calc((100%/12)*7)
}

.col-8 {
    width: calc((100%/12)*8)
}

.col-9 {
    width: calc((100%/12)*9)
}

.col-10 {
    width: calc((100%/12)*10)
}

.col-11 {
    width: calc((100%/12)*11)
}

.col-12 {
    width: calc((100%/12)*12)
}

.navbar ul{
    display: flex;
    justify-content:flex-end;
    gap: 25px;
    list-style: none;
    margin-top: 23px;
    margin-right: 120px;
   
    
}

  li a{
    list-style: none ;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    transition: .3s;
    color: #131313;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
   
}

li a:hover{
color: rgb(77, 163, 77) ;
}

.navbar{
    height: 62px;
    width: 100%;
    margin: auto 0px;
}

#home{
   height: 100vh;
   background-image: url(image/wam\ \(1\).jpg) ;
   background-image: repeat no-repeat ;
   
}

.home img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid #fff;
    margin: 0 auto;
    display: block;
}

.home{
    text-align: center;
    margin: auto;
    margin-top: 200px;
}

.home h1{
    display: block;
    font-size: 2.6em;
    line-height: 50px;
    margin-top: 20px;
    color: white;
    font-family: 'Hind', sans-serif;
    padding: 0;
}

#about{
    padding-top: 120px;
    /* padding-bottom: 150px; */
}

#aboutbox{
     
    margin-left: 50px;
}

#about h2{
    font-size: 2.3em;
    /* margin-top: 40px; */
    margin-bottom: 20px;
    color: #131313;
    font-family: 'Hind', sans-serif;
    
}

#about h4{
    color: #131313;
    font-family: 'Lato', sans-serif;
    padding: 0;
    font-size: 18px;
    line-height: 1.1;
    margin-bottom: 20px;
}

#aboutnumber{
    margin-top: 70px;
    margin-left: 100px;
}
#aboutnumber div{
    font-size: 20px; 
    color: #131313;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
}

.containerabout{
    margin-left: 63px;
    display: flex;
}

.aboutrow{
    padding-top:90px;
    padding-bottom:75px;
    display: flex;
    justify-content: space-around;
}

#aboutbox p{
    margin-bottom: 20px;
    font-size: 16px;
    color: #181a1b;
    font-family: 'Lato', sans-serif;
    margin: 0; 
    padding: 0;
    line-height: 26px;
    margin-bottom: 20px;

}

.abouticons {
     display: flex;
    justify-content: space-around;
    width: 60px;
    margin-left: 100px;
    font-size: 16px;
}

.abouticons li{
    list-style: none;
    padding-right: 40px;
    font-size: 1.3em;
}

#about button{
    height:40px ;
    width:140px ;
    background:black;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    margin-top: 30px;
    margin-left: -5px;
    margin-bottom: 100px;

}

#about button:hover{
    background: rgb(77, 163, 77);
    transition: 0.5s;
}

#dowland{
    opacity: 0;
}

#dowland:hover{
padding-left: 10px;
padding-right: 10px;
opacity: 1;
transition: 1s;
    }

#portfolio{
    padding-bottom: 70px;
}

#portfolio h2{
    font-size: 2.3em;
    color: #131313;
    font-family: 'Hind', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    margin: auto;
    margin-top: 70px;
}

.portbuttons{
    display: flex;
    justify-content: space-around;
    margin: auto;
    
}

.portbuttons div{
    background: black;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 0px 10px;
    margin-top: 70px;
    margin-bottom: 30px;

}

.portfoliophoto{
    margin:auto ;
    display: flex;
    gap: 33px;
    padding-top: 30px;
    
    
}

#portfolio img{
    height: 240px;
    width: 360px;
    
}
#testimonial{
    background-image: url(image/wam\ \(1\).jpg);
    margin-bottom: 40px;
    padding-top: 50px;  
    padding-bottom:100px;
    margin-bottom: 30px;
    background-size:cover;
    width:100%;
    height:100%;
    background-attachment:fixed
}

.containertestimonial{
    color: white;
    text-align: center;
    width: 600px;
    margin: auto;
    
}

.rowtestimonial{
    display: block;
}

.rowtestimonial h3{
    
    padding-top: 85px;

}

.rowtestimonial p{
    font-size: 1.6em;
    font-family: 'Lato', sans-serif;
    padding-top: 50px;
}

.testimonialbuttons{
    display: flex;
    justify-content: space-around;
    width: 50px;
    margin:auto;
    padding-top: 50px;
}

.testimonialbuttons div{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: snow;
}


#blog h2{
    font-size: 2.3em;
    color: #131313;
    font-family: 'Hind', sans-serif;
    margin: 0;
    padding: 0;
    text-align:center;
    width: 100%;
    display: block;
    margin-bottom: 60px;
}
#blog{
    padding: 90px 0px 95px 0px;

}

.blogcontainer{
    display: block;
}


#blog img{
    width: 358px;
    height: 227px;
}

.bloggg {
    width: 358px;
    height: 227px;
    overflow: hidden;
    margin: 0 auto;
}

.bloggg img {
    width: 100%;
    transition: 0.8s all ease-in-out;
}

.bloggg:hover img {
    transform: scale(1.3);
}

.blogbox{
    margin: auto;
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 85%;
}

.blogbox h4{
    color: #252525;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 14px;
    margin-top: 25px;
    }

.blogbox p{
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 26px;
    font-family: 'Lato', sans-serif;
    
   

}

 #button {
   list-style: none;
   text-decoration: none;
   background: #131313;
   color: #fff;
   border-radius: 5px;
   transition: 0.5s;
   cursor: pointer;
   padding: 8px 25px;
   font-weight: 400;
   font-family: 'Festive', cursive;
font-family: 'Lato', sans-serif;
}

#button:hover{
    background: rgb(77, 163, 77);
}

.blogbox a{
    list-style: none;
   text-decoration: none;
}

#contact{
    padding: 65px 0 95px;
    background: #f2f2f2;
    font-size: 14px;
}

.header{
    text-align: center;
    margin-bottom: 45px;
    font-size: 2em;
    color: #131313;
    font-family: 'Hind', sans-serif;
    padding: 0;
    line-height: 1.1;
    font-family: 'Hind', sans-serif;
    font-weight: 500;
    margin-top: 0px;
    
}

.icons{
    text-align: center;
    width: 50%;
    margin: auto ;
    display: flex;
    justify-content: space-around;
}

#contact i:hover{
    color:rgb(77, 163, 77) ;

}

.inputs{
    text-align: center;
    margin-top:60px;
}

input{
    border-radius: 2px;
    border: none;
    background-color: #fff;
    height: 34px;
    width: 350px;
    margin-left: 15px;
    margin-right: 15px;
    
    
    
}

input:focus { 
    outline: none;
 }

.textbox{
    text-align: center;
    margin-top: 15px;
}

.textbox textarea{
    resize: none;
    width: 55%;
    height: 90px;
    border: none;
    border-radius: 2px;
}

.textbox textarea:focus{
    outline: none;
}

.contactbutton{
    text-align: center;
    margin-top: 30px;
}

.contactbutton button{
    background: #131313;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: 0.5s;
}

.contactbutton button:hover{
    background:rgb(77, 163, 77) ;
}






